<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {% if site.email %}
          <li></li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.facebook_page %}
          <li>
            {% include icon-facebook.html username=site.facebook_page %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <h3 class="description_header">{{ site.description_header | escape }}</h3>
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>

<div class="popup hidden">

  <div class="popup-inner">
    <h3>Print</h3>

    <p>Du kan vælge at printe enten denne side alene. Eller hele guiden på en gang.</p>

    <p><strong>Bemærk:</strong> Den fulde guide fylder 60+ sider.</p>

    <a class="btn" href="javascript:window.print()">Print kun denne side</a>
    <a class="btn" href="/print/">Print hele guiden</a>

    <a href="javascript:void(0);" class="close">&#215;</a>
  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ "/assets/scripts.js" | relative_url }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js" integrity="sha256-vFC/ScvnnuSbTui1byb/SHe8SUXBbyYLFIG6I1XJY0c=" crossorigin="anonymous"></script>

<script type="text/javascript">
  $( ".main-content img" ).each(function( index ) {
    $this = $(this);
    $source = $this.attr('src');

    $this.wrap(function() {
      return "<a href='" + $source + "'>" + $this.html() + "</a>";
    });

  });

	$("a[href$='.jpg'],a[href$='.png'],a[href$='.gif']").attr('rel', 'gallery').fancybox();
</script>
