$sidebar-width: 20rem;
$sidebar-padding: 1rem;
$dark-gray: #373942;
$brand-color: #ce2922;
$base-font-color: #333;
$header-height: 118px;

// CUSTOM BRANDING

$dark-gray: #374241;
$brand-color: #00b300;
$header-height: 133px;

// Import partials.
@import "minima/base", "minima/typography","minima/syntax-highlighting";

// OVERRIDES
.logo.lpo img {
    height: 40px;
    display: block;
    float: left;
    margin: 0;
}
